<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form>
    <p>宝宝名称：<input type="text" id="bbName">参战等级：<input id="bbLevel" type="number"><button id='bbSub' type="button">提交</button></p>
  </form>
  <hr>
  <form>
    <p>技能名称：<input id="abName" type="text">图片路径：<input id="abUrl" type="text"><button id='abSub' type="button">提交</button></p>
    <p><img src="images/ablities/1.jpg" alt="" srcset=""></p>
  </form>
  <script src="js/jquery.js"></script>
  <script src="js/backend.js"></script>
</body>

</html>