<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>梦幻打书辅助</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="header">
        <h1>梦幻打书辅助</h1>
    </div>
    <div class="main">
        <div class="bbCollect">
            <p>BB名字：
                <select name="bbName" id="bbName">
                    {{each bbdata val indx}}
                    <option value={{val.name}}>{{val.name}}</option>
                    {{/each}}
                </select>
                五行：
                <select name="bbFE" id="bbFE">
                    <option value='金'>金</option>
                    <option value='木'>木</option>
                    <option value='水'>水</option>
                    <option value='火'>火</option>
                    <option value='土'>土</option>
                </select>
                是否宝宝：
                <select name="source" id="source">
                    <option value='宝宝'>宝宝</option>
                    <option value='野生'>野生</option>
                    <option value='变异'>变异</option>
                </select>
                是否认证：
                <select name="certification" id="certification">
                    <option value='false'>否</option>
                    <option value='true'>是</option>
                </select>
                <button type="button" id='sub'>提交数据</button>
            </p>
            <div style="width: 60%;float: left;" id="abilityArea">技能：<br>

                {{each abdata val indx}}

                <a href="#"><img src={{val.imgUrl}} alt={{val.name}} srcset=""></a>

                {{/each}}

            </div>
            <div style="width: 40%;float: left;">预览：
                <button type="button" id='clearAbs'>清空技能</button>
                <br>
                <div class="panel" id="panel"></div>
            </div>
        </div>
        <div class="bbshow">
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th>BB名字</th>
                        <th>五行</th>
                        <th>是否宝宝</th>
                        <th>是否认证</th>
                        <th>技能</th>
                    </tr>
                </thead>
                <tbody>
                    {{each bbmodeldata val indx}}
                    <tr>
                        <td>{{val.name}}</td>
                        <td>{{val.fiveElements}}</td>
                        <td>{{val.source}}</td>
                        <td>{{val.certification}}</td>
                        <td>
                            {{val.abilities}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/index.js"></script>
</body>

</html>