.container {
    width: 1170px;
    margin: 0 auto;
}

#header_wrap {
    height: 98px;
    border-top: solid 1px #f1f2f3;
    border-bottom: solid 1px #f1f2f3;
    background: white;
}

.header {
    height: 98px;
}

.header .ul_left {
    float: left;
}

.header .ul_left li {
    float: left;
}

.header .ul_left li a {
    line-height: 98px;
    font-size: 16px;
    margin: 0 20px;
    color: #333333;
}

.header .ul_left li a:hover {
    color: #53cac3;
}

.header .ul_right {
    float: right;
}

.header .ul_right li {
    float: left;
}

.header .ul_right li a span {
    line-height: 14px;
    font-size: 14px;
    float: left;
    color: #202020;
    margin: 44px 0 40px 0;
}

.header .ul_right li a .icon1 {
    float: left;
    width: 17px;
    height: 21px;
    background-position: -54px 0;
    margin: 39px 13px 0 0;
}

.header .ul_right li a .icon2 {
    float: left;
    width: 17px;
    height: 21px;
    background-position: -54px -21px;
    margin: 39px 13px 0 0;
}

.bar:after {
    content: "";
    float: left;
    width: 1px;
    height: 18px;
    background: #e5e5e5;
    margin: 41px 20px 0;
}

.icon {
    background: url(../images/icon_spirit.png) no-repeat;
}

.logo {
    float: left;
}

.logo a {
    display: block;
    width: 54px;
    height: 54px;
    margin-top: 23px;
}

.logo a h1 {
    text-indent: -9999px;
}

#footer_wrap {
    height: 232px;
    background: black;
}

.footer {
    height: 100%;
    background: black;
}

.footer p {
    display: block;
    color: #bfbfbf;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
}

.footer p a {
    display: inline-block;
    color: #bfbfbf;
    font-size: 18px;
    line-height: 18px;
    margin: 66px 23px 35px;
}